#header{
  font-family:Arial, sans-serif;
  font-size: 25px;
  }

button 
{ transition: 0.2s ease;
}

button:hover {
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0,0,0,0.6);
  }

button:active {
  transform: scale(.95);
}

#recipe-list {
  display: none;
}

  
